
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3, h4{
    font-family: 'lato', Arial, sans-serif;
}

:root{
      --bleu: #17abb3;
      --noir: #333333;
      --gris: #e3e3e3;
      --blanc-cassé: #f5f5f5;
      --blanc: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon{
    width: 1.5em;
    height: 1.5em;
    position: relative;
    fill: #f5f5f5;
 
}

body{
    background-color:var(--blanc);
    line-height: 1.6;
    font-family: 'raleway',Arial, sans-serif;
    font-weight: 500;
    padding: 2rem;
}

ul{
    list-style: none;
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: #0f6b6f;
}

h3{
    font-weight: 400;
}


p {
    margin: 0.4rem 0;
    font-weight: 500;
}


body > header,
main,
footer {
    width: 1160px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blanc);
}

main {
    display: grid;
    grid-template-columns: 280px 1fr;
}



header {
    background: linear-gradient(90deg, #17abb3, #17abb3);
    color:var(--blanc-cassé);
    padding: 2rem;
    align-items: center;
    display: grid;
    grid-template-columns: 140px 1fr;
}



header img.photo-profil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
}

.photo-lien{
    display: inline-block;
}

.photo-profil{
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

.header-info h1{
    font-size: 2.4rem;
    margin: 0;
    line-height: 1.1;
    position: relative;
    top: -4px;
    margin-bottom: 0.3rem;
}

.header-info h2{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
    margin-top: 0.3rem;
}

.header-contact {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 3rem;
    row-gap: 0.6rem;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--gris);
}

.header-contact li{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.header-info{
    padding-top: 4px;
    text-align: center;
}


header h1 {
    color: #fff;
    font-size: 2rem;
}

header h2 {
    color: #e0f2f3;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0.8rem;
}

header ul li {
    font-size: 0.9rem;
}

aside {
    background-color:var(--blanc-cassé);
    padding: 1.5rem;
}

aside section {
    margin-bottom: 2.5rem;
}

aside section:first-of-type ul li{
    font-weight: 700;
    color: var(--noir);
}

.etoiles{
    margin-left: auto;
    color: var(--bleu);
    font-size: 1.5rem;
    letter-spacing: 2px;
    white-space: nowrap;
}

.competences li{
    display: flex;
    align-items: center;
}

.langues li{
    display: flex;
    justify-content: space-between;
}

.langues li .niveau{
    margin-left: auto;
    font-weight: 400;
    color: var(--noir);
}

aside section:nth-last-of-type(1) ul li,
aside section:nth-last-of-type(2) ul li,
aside section:nth-last-of-type(3) ul li,
aside section:nth-last-of-type(4) ul li{
    position: relative;
    padding-left: 1.1rem;
}

aside section:nth-last-of-type(1) ul li::before,
aside section:nth-last-of-type(2) ul li::before{
    content: "";
    width: 9px;
    height: 9px;
    background-color: var(--bleu);
    position: absolute;
    left: 0;
    top: 0.4em;
}


aside h3 {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--bleu);
    letter-spacing: 0.5px;
    margin-bottom: 0.8rem;
    padding-bottom: 0.4rem;
    border-bottom: var(--gris);
}



aside ul li {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    line-height: 1.5;
}

main > section {
    padding: 2rem;
}

main section section {
    margin-bottom: 2rem;
}

main h3 {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--gris);
    color: var(--bleu);
    padding-bottom: 0.3rem;
    font-size: 1.6rem;
    
    
}


article {
    margin-bottom: 1.5rem 
}

article h4 {
    font-size: 1rem;
    color: #222;
}

article p {
    font-size: 0.9rem;
    color: #555;
}

article time {
    font-size: 0.85rem;
    color: var(--bleu);
    display: inline-block;
    margin-top: 0.3rem;
}

.formation{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.formation-date{
    color: var(--bleu);
    font-size: 0.9rem;
    white-space: nowrap;
}

.formation-info h4{
    margin-bottom: 0.1rem;
    line-height: 1.2;
}

.formation-infos p{
    margin: 0;
    margin-top: 0;
    font-size: 0.75rem;
    color: var(--noir);
    line-height:0.5 ;
}

.formation{
    position: relative;
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
    transition: background-color 0.3s ease;

}

.formation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    height: 100%;
    width: 4px;
    background-color: var(--bleu);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.formation:hover{
    background-color: var(--gris);
}

.formation:hover::before{
    opacity: 1;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    background: linear-gradient(90deg,#17abb3, #17abb3);
    color:var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 0.85rem;
    gap: 1rem;
    font-style: italic;
}
footer svg{
    width:30px;
    height: 30px;
    fill: var(--blanc);
    display: block;
    transition: opacity 0.4s ease, transform 0.4s ease;
    
}

footer a{
  cursor: pointer;
  align-items: center;
  display: inline-flex;

}

footer a:hover svg{
    opacity: 0.7;
    transform: scale(0.95);
}
footer p{
    width: 100%;
    text-align: center;
    margin: 0.4rem 0 0;
    margin-top: -0.7rem;
}

